# Dependencias
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación
/dist
/tmp
/out-tsc

# IDEs y editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.production

# Angular
/.angular/cache